/* collapsible section changes*/
h2 button {
    all: inherit;
    border: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 0;
}
  
h2 button:focus svg {
    outline: 2px solid;
}

button svg {
    height: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

[aria-expanded="true"] .vert {
    display: none;
    }

[aria-expanded] rect {
    fill: currentColor;
}

div.toc > ul {
    height: 40vh;
    overflow-y: scroll;
}

div.toc {
    position: fixed;
    top: 50vh;
}

div.main-content + h2 {
    position: absolute;
    top: 300px; 
}

/* photo column changes */
div.right-box {
    float: right;
    clear: right;
    height: 400px;
    overflow: scroll;
}

div.text-column {
    margin: 0.5em 0;
    display: table-cell;
    vertical-align: top;
}
div.photo-column {
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa;
    font-size: 94%;
    display: table-cell;
}

div.container {
    display: table-row;
}
.image {
    display: block;
    text-align: center;
}

div.photo {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 250px;
}